.easydownload-box {
  background-color: #4c4c4c;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  width: 400px;
  height: 400px;
  z-index: 999;
}

.easydownload-closebtn {
  margin: .5em;
  position: absolute;
  right: 0;

  > button {
    background-color: #00ffbc;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 0px 0px;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 25px;
    padding: 2px 11px;
  }
}

.easydownload-boxcontent {
  padding: 4em 2em 2em 2em;
  text-align: center;
}

.easydownload-buttons {
  margin-top: 7em;

  > a {
    background-color: #00ffbc;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 0px 0px #000000;
    color: #4c4c4c;
    font-size: 19px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
  }
}
